
<div class="container-fullwidth">
  <div class="navbar navbar-inverse"
       style="border-radius: 0px; background-color:white !important;color:teal;border:none;font-size:1.0em;margin-bottom:0px;">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#menu_bar_nav_bar"
                aria-expanded="false">
          <span class="glyphicon glyphicon-option-vertical" style="color:teal;">
          </span>
        </button>

        <a class="navbar-brand" style="font-size:1.2em;margin-left:0.2em;color:teal;"
           href="/welcome">
          {{model.dsig.title.name}}
        </a>
      </div>

      <div class="collapse navbar-collapse" id="menu_bar_nav_bar">
        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
               style="width:12.5em;color:teal;" aria-haspopu="true" aria-expaned="false">
              {{model.template}}
              <span class="caret"></span>              
            </a>
            <ul class="dropdown-menu" style="width:12.5em;">
              <li ng-repeat="menu in model.dsig.header">
                <a role="button" class="select_template" data-template-name={{menu.name}} style="color:teal;"
                   ng-href="{{menu.path | remove_id }}{{'/' + model.user.cdets.id  + (model.user.login.sidebar ? '?sidebar=1' : '')}}">
                  {{menu.name}}
                </a>
              </li>
              <li>
                <a role="button" style="color:teal;"
                  ng-href="{{model.dsig.cdets.path + '&identifier=' + model.user.cdets.id}}">
                  {{model.dsig.cdets.name}}
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a style="padding-top:8px;padding-bottom:0px;">
              <input type="text" class="form-control" placeholder="Search Bug ID" style="color:teal;"
                     ng-model="model.user.cdets.id" ng-change="model.change_id()">
            </a>
          </li>
          <li>
            <a ng-click="model.toggle_sidebar($event)" style="color:teal;">
              <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>              
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
